/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'Trajan Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Trajan Pro Regular'), url('fonts/TrajanPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Trajan Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Trajan Pro Bold'), url('fonts/TrajanPro-Bold.woff') format('woff');
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background-color: #e9e9e9;
  margin: auto;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  background-color: black;
  border-radius: 2px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialogue.alert > p {
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.dialogue.alert > .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogue.alert > .button-container > button {
  width: 100%;
  background-color: #b19c76;
  padding: 12px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.dialogue.alert > .button-container > button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  background-color: black;
  border-radius: 2px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialogue.confirm > .title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px 16px;
}
.dialogue.confirm > .title-container > h6 {
  font-size: 21px;
}
.dialogue.confirm > .title-container > a > img {
  height: 20px;
}
.dialogue.confirm > p {
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.dialogue.confirm > .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogue.confirm > .button-container > button {
  width: 100%;
  background-color: #b19c76;
  padding: 12px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.dialogue.confirm > .button-container > button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm > .button-container > .cancel {
  background-color: #000;
  color: #b19c76;
  border: 1px solid #b19c76;
}
.dialogue.confirm > .button-container > .cancel:hover {
  border: 1px solid rgba(177, 156, 118, 0.9);
  color: #000;
}
.dialogue.confirm > .button-container > .cancel:active {
  background-color: rgba(177, 156, 118, 0.8);
  border: 1px solid rgba(177, 156, 118, 0.8);
  color: #000;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  background-color: black;
  border-radius: 2px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dialogue.prompt > .title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px 16px;
}
.dialogue.prompt > .title-container > h6 {
  font-size: 21px;
}
.dialogue.prompt > .title-container > a > img {
  height: 20px;
}
.dialogue.prompt > p {
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.dialogue.prompt > .input-container {
  padding: 0px 16px 16px 16px;
  width: 100%;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  padding: 8px;
  border: 1px solid #b19c76;
  color: white;
  background: black;
}
.dialogue.prompt > .button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialogue.prompt > .button-container > button {
  width: 100%;
  background-color: #b19c76;
  padding: 12px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.dialogue.prompt > .button-container > button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.prompt > .button-container > .cancel {
  background-color: #000;
  color: #b19c76;
  border: 1px solid #b19c76;
}
.dialogue.prompt > .button-container > .cancel:hover {
  border: 1px solid rgba(177, 156, 118, 0.9);
  color: #000;
}
.dialogue.prompt > .button-container > .cancel:active {
  background-color: rgba(177, 156, 118, 0.8);
  border: 1px solid rgba(177, 156, 118, 0.8);
  color: #000;
}
.user-menu {
  display: flex;
  justify-content: center;
  min-height: 28px;
}
@media only screen and (max-width: 719px) {
  .user-menu {
    display: none;
    width: 100%;
    min-height: 34px;
    align-items: center;
    padding: 16px 20px;
  }
  .user-menu:hover {
    background-color: rgba(177, 156, 118, 0.9);
  }
  .user-menu:active {
    background-color: #b19c76;
  }
}
.user-menu > .connect-wallet,
.user-menu .wallet-address {
  display: block;
  text-align: center;
  min-width: 100px;
  color: #b19c76;
  padding: 8px 12px;
  font-size: 14px;
  text-decoration: none;
  background-color: black;
  border: 1px solid #b19c76;
  border-radius: 2px;
}
.user-menu > .connect-wallet:hover,
.user-menu .wallet-address:hover {
  background-color: rgba(177, 156, 118, 0.2);
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  display: flex;
  float: left;
  font-weight: 500;
}
.pc-menu > ul > li > a {
  cursor: pointer;
  padding: 8px 24px;
  text-decoration: none;
  color: #666;
}
.pc-menu > ul > li > a:hover {
  border-radius: 4px;
  color: white;
}
.pc-menu > ul > li > a:active {
  border-radius: 4px;
  color: white;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li > a:hover {
  color: #b19c76;
}
.pc-menu > ul > li > ul > li > a:active {
  color: #b19c76;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  color: #fff;
  background-color: black;
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 0.825rem;
}
.mobile-menu > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #b19c76;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.connect-wallet-popup {
  position: relative;
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 2px;
  background-color: #000000;
  color: #FFF;
}
.connect-wallet-popup > .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.connect-wallet-popup > .title-container > h6 {
  font-size: 21px;
}
.connect-wallet-popup > .title-container > a > img {
  height: 20px;
}
.connect-wallet-popup > p {
  border-top: 1px solid #CCC;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  font-weight: 300;
}
.connect-wallet-popup > .button-container {
  padding: 0px 16px 16px 16px;
}
.connect-wallet-popup > .button-container > a {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 300;
}
.connect-wallet-popup > .button-container > a:hover {
  background-color: rgba(177, 156, 118, 0.5);
  color: white;
}
.connect-wallet-popup > .button-container > a > img {
  margin-right: 10px;
}
.connect-wallet-popup > .button-container > .connect-kaikas-button {
  background-color: #6f6558;
}
.connect-wallet-popup > .button-container > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .button-container > .cancel-button {
  border: 1px solid #ffffff;
}
.klip-qr-popup {
  position: relative;
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 2px;
  background-color: #000000;
  color: #FFF;
  text-align: center;
}
.klip-qr-popup > .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #CCC;
}
.klip-qr-popup > .title-container > h6 {
  font-size: 21px;
}
.klip-qr-popup > .title-container > a > img {
  height: 20px;
}
.klip-qr-popup > .qr {
  padding-top: 16px;
}
.klip-qr-popup > p {
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  font-weight: 300;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.select {
  display: inline-block;
  z-index: 999;
}
.select > .selected {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
}
.select > .selected > .selected-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select > .selected > .arrow {
  width: 16px;
  height: 16px;
  background: url("/images/shared/icn/expand.svg") no-repeat;
  background-size: 100%;
}
.select > ul {
  display: none;
  list-style-type: none;
  padding-left: 0px;
  position: absolute;
  background: #FFF;
  border-top: none;
  margin: 1px 0 0 -1px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.select > ul > li {
  padding: 8px 12px;
}
.select > ul > li:hover {
  background: rgba(177, 156, 118, 0.7);
}
.order-item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #faf0ef;
}
.order-item > .price {
  font-size: 14px;
  font-weight: 700;
  color: #c84a31;
}
.order-item > .amount {
  font-size: 14px;
}
.order-item > .total {
  font-size: 14px;
}
.symbol-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
}
.symbol-item > .title {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
}
.symbol-item > .title > .sub {
  font-weight: 300;
  font-size: 11px;
  margin-top: 4px;
}
.symbol-item > .price {
  padding: 8px 0px;
  font-weight: 700;
  color: #1261c4;
}
.symbol-item > .previous {
  color: #c84a31;
}
.symbol-item > .previous > .price {
  font-weight: 400;
  font-size: 12px;
  margin-top: 4px;
}
.symbol-item > .deal {
  display: flex;
  align-items: baseline;
}
.symbol-item > .deal > span {
  margin-left: 4px;
  color: #999;
  font-size: 10px;
}
.symbol-item:hover {
  background-color: #f7f7f7;
}
.layout {
  width: 100%;
}
.layout > header {
  display: flex;
  position: sticky;
  justify-items: center;
  width: 100%;
  height: 60px;
  background-color: black;
  left: 0;
  top: 0;
  z-index: 999;
}
@media only screen and (max-width: 719px) {
  .layout > header {
    height: auto;
  }
}
.layout > header > .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 8px;
}
.layout > header > .nav > .logo {
  display: flex;
  flex-grow: 1;
}
.layout > header > .nav > .logo > a {
  margin-right: 60px;
}
.layout > header > .nav > .logo > a > img {
  height: 28px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .logo > .pc-menu {
    display: none;
  }
}
.layout > header > .nav > .right {
  display: flex;
  align-items: center;
}
.layout > header > .nav > .right:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout > header > .nav > .right > .user-menu {
  float: right;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .user-menu {
    display: none;
  }
}
.layout > header > .nav > .right > .language-select {
  display: block;
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 16px;
  color: #b19c76;
  border: none;
  border-radius: 2px;
}
.layout > header > .nav > .right > .language-select:hover {
  background-color: rgba(177, 156, 118, 0.2);
}
.layout > header > .nav > .right > .language-select:active {
  background-color: rgba(177, 156, 118, 0.3);
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .language-select {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .layout > header > .nav > .right > .language-select:hover {
    background-color: #333332;
  }
}
.layout > header > .nav > .right > .menu-button {
  float: right;
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .menu-button {
    display: block;
  }
}
.layout > main {
  max-width: 1440px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  padding: 16px 0px;
}
@media only screen and (max-width: 719px) {
  .layout > main {
    padding: 8px;
  }
}
.layout > footer {
  color: white;
  background-color: black;
}
.layout > footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}
.layout > footer .footer-container > .sns {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.layout > footer .footer-container > .sns > a {
  display: block;
  border-radius: 8px;
}
.layout > footer .footer-container > .sns > a > img {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.layout > footer .footer-container > .sns > a:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.layout > footer .footer-container > .link-tree {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  margin-bottom: 16px;
}
.layout > footer .footer-container > .link-tree > .kronos {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .kronos:hover {
  color: #b19c76;
}
.layout > footer .footer-container > .link-tree > .hr {
  margin: 8px;
}
.layout > footer .footer-container > .link-tree > .supernova {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .supernova:hover {
  color: #990013;
}
.layout > footer .footer-container > .link-tree > .stableDAO {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .stableDAO:hover {
  color: #00445a;
}
.layout > footer .footer-container > .copyright {
  font-size: 12px;
  margin-bottom: 32px;
}
.home-view {
  display: flex;
}
@media only screen and (max-width: 719px) {
  .home-view {
    flex-direction: column;
  }
}
.home-view > section > article {
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
.home-view > section > article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
.home-view > section > article > header > .price-container {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.home-view > section > article > header > .price-container > img {
  height: 24px;
}
.home-view > section > article > header > .price-container > h1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 4px;
}
.home-view > section > article > header > .price-container > p {
  color: #666;
  font-size: 12px;
}
.home-view > section > article > header > .tab-container {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 719px) {
  .home-view > section > article > header > .tab-container {
    display: none;
  }
}
.home-view > section > article > header > .tab-container > a {
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 8px;
}
.home-view > section > article > header > .tab-container > a:hover {
  border-bottom: 3px solid #B19C76;
}
.home-view > section > article > header > .tab-container > a:active {
  border-bottom: 3px solid #B19C76;
}
.home-view > section > article > header > .tab-container > .setting {
  width: 40px;
  border-left: 1px solid #CCC;
  border-bottom: none;
}
.home-view > section > article > header > .tab-container > .setting > img {
  height: 24px;
}
.home-view > section > article > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.home-view > section > article > article > .price-container {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}
.home-view > section > article > article > .price-container > .present-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  color: #1261c4;
}
.home-view > section > article > article > .price-container > .present-container > .price-container {
  display: flex;
  align-items: baseline;
}
.home-view > section > article > article > .price-container > .present-container > .price-container > .price {
  font-weight: bold;
  font-size: 32px;
}
.home-view > section > article > article > .price-container > .present-container > .price-container > .krw {
  font-size: 16px;
}
.home-view > section > article > article > .price-container > .present-container > .previous-container {
  display: flex;
  align-items: center;
  color: #1261c4;
  margin-bottom: 16px;
}
.home-view > section > article > article > .price-container > .present-container > .previous-container > p {
  font-size: 11px;
  color: #666;
}
.home-view > section > article > article > .price-container > .present-container > .previous-container > .percent {
  font-weight: bold;
  padding: 0px 8px;
}
.home-view > section > article > article > .price-container > .present-container > .previous-container > .krw {
  font-weight: bold;
}
.home-view > section > article > article > .price-container > .total-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-right: 16px;
}
@media only screen and (max-width: 719px) {
  .home-view > section > article > article > .price-container > .total-container {
    display: none;
  }
}
.home-view > section > article > article > .price-container > .total-container > .fluctuation-container,
.home-view > section > article > article > .price-container > .total-container .day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.home-view > section > article > article > .price-container > .total-container > .fluctuation-container > dl,
.home-view > section > article > article > .price-container > .total-container .day-container > dl {
  display: flex;
  width: 230px;
  justify-content: center;
  align-items: center;
}
.home-view > section > article > article > .price-container > .total-container > .fluctuation-container > dl > dt,
.home-view > section > article > article > .price-container > .total-container .day-container > dl > dt {
  width: 40%;
  font-size: 12px;
  font-weight: 300;
}
.home-view > section > article > article > .price-container > .total-container > .fluctuation-container > dl > dd,
.home-view > section > article > article > .price-container > .total-container .day-container > dl > dd {
  float: right;
  width: 60%;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.home-view > section > article > article > .price-container > .total-container > .fluctuation-container > dl > dd > span,
.home-view > section > article > article > .price-container > .total-container .day-container > dl > dd > span {
  font-size: 10px;
  font-weight: 300;
  color: #666;
  margin-left: 4px;
}
.home-view > section > article > article > .toolbar-container {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  padding: 8px 16px;
  font-size: 14px;
}
.home-view > section > .order-container {
  display: flex;
  margin-top: 8px;
}
@media only screen and (max-width: 719px) {
  .home-view > section > .order-container {
    flex-direction: column;
  }
}
.home-view > section > .order-container > .left {
  margin-right: 8px;
}
.home-view > section > .order-container > article {
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
  width: 100%;
  max-height: 330px;
  overflow: scroll;
}
@media only screen and (max-width: 719px) {
  .home-view > section > .order-container > article {
    margin-top: 16px;
  }
}
.home-view > section > .order-container > article > header {
  width: 100%;
  padding-top: 16px;
}
.home-view > section > .order-container > article > header > .tab {
  width: 100%;
  display: flex;
}
.home-view > section > .order-container > article > header > .tab > .item {
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
  height: 30px;
}
.home-view > section > .order-container > article > header > .tab > .item:active {
  font-weight: 700;
  border-bottom: 3px solid #B19C76;
  color: black;
}
.home-view > section > .order-container > article > header > .tab > .item:hover {
  font-weight: 700;
  border-bottom: 3px solid #B19C76;
  color: black;
}
.home-view > section > .order-container > article > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.home-view > section > .order-container > article > .content > .order-title {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  font-size: 12px;
  background-color: #f7f7f7;
}
.home-view > section > .order-container > article > .content > .order-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #edf2f9;
}
.home-view > section > .order-container > article > .content > .order-container > .price {
  font-size: 14px;
  font-weight: 700;
  color: #B19C76;
}
.home-view > section > .order-container > article > .content > .order-container > .amount {
  font-size: 14px;
}
.home-view > section > .order-container > article > .content > .order-container > .total {
  font-size: 14px;
}
.home-view > section > .order-container > article > article > tr {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.home-view > section > .order-container > article > article > tr > p {
  color: #666;
  font-size: 13px;
  font-weight: 500;
  min-width: 134px;
}
.home-view > section > .order-container > article > article > tr > .input-container {
  width: 100%;
}
.home-view > section > .order-container > article > article > tr > .input-container > label {
  color: #666;
  margin-left: 8px;
  margin-right: 20px;
}
.home-view > section > .order-container > article > article > tr > .input-container > .number-input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #CCC;
  border-radius: 2px;
  text-align: right;
}
.home-view > section > .order-container > article > article > tr > .price-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}
.home-view > section > .order-container > article > article > tr > .price-container > .number {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin-right: 4px;
}
.home-view > section > .order-container > article > article > tr > .price-container > .unit {
  color: #666;
  font-size: 11px;
  font-weight: 400;
}
.home-view > section > .order-container > article > article > a {
  width: 344px;
  background-color: #c84a31;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}
.home-view > section > .trading-container {
  width: 100%;
  margin-top: 8px;
  background-color: #fff;
}
.home-view > section > .trading-container > .tab-container {
  display: flex;
  height: 45px;
}
.home-view > section > .trading-container > .tab-container > a {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 8px;
  border-bottom: 1px solid #CCC;
}
.home-view > section > .trading-container > .tab-container > a:hover {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.home-view > section > .trading-container > .tab-container > a:active {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.home-view > section > .trading-container > .trading-title {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  font-size: 12px;
  background-color: #f7f7f7;
}
.home-view > aside {
  width: 100%;
  margin-left: 16px;
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
@media only screen and (max-width: 719px) {
  .home-view > aside {
    display: none;
  }
}
.home-view > aside > .input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-view > aside > .input-container > input {
  width: 100%;
  padding: 8px;
  padding-left: 14px;
  margin: 8px 0px;
}
.home-view > aside > .input-container > img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.home-view > aside > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.home-view > aside > header {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 8px;
}
.balance-view {
  display: flex;
}
@media only screen and (max-width: 719px) {
  .balance-view {
    flex-direction: column;
  }
}
.balance-view > section {
  max-width: 990px;
  width: 100%;
  height: 100%;
}
.balance-view > section > article {
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
.balance-view > section > article > .tab-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.balance-view > section > article > .tab-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0px 8px;
  border-bottom: 1px solid #CCC;
}
.balance-view > section > article > .tab-container > a:hover {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.balance-view > section > article > .tab-container > .active {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.balance-view > section > article > .my-container {
  display: flex;
  width: 100%;
  max-width: 920px;
}
.balance-view > section > article > .my-container > .amount-container {
  max-width: 540px;
  width: 100%;
  padding: 25px 30px;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount-total > dl {
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  display: table;
  float: left;
  width: 236px;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount-total > dl > dt {
  display: table-cell;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount-total > dl > dt > span {
  font-size: 14px;
  color: #666;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount-total > dl > dd > span {
  font-size: 20px;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount-total > dl > dd > i {
  display: inline-block;
  padding-left: 7px;
  vertical-align: bottom;
  font-size: 11px;
  color: #999;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount > dl {
  margin-top: 12px;
  display: table;
  float: left;
  width: 236px;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount > dl > dt {
  display: table-cell;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount > dl > dt > span {
  font-size: 14px;
  color: #666;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount > dl > dd > span {
  font-size: 20px;
}
.balance-view > section > article > .my-container > .amount-container > .trade-amount > dl > dd > i {
  display: inline-block;
  padding-left: 7px;
  vertical-align: bottom;
  font-size: 11px;
  color: #999;
}
.balance-view > section > article > .my-container > .chart-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 719px) {
  .balance-view > section > article > .my-container > .chart-container {
    display: none;
  }
}
.balance-view > section > article > .my-container > .chart-container > canvas {
  max-width: 300px;
  max-height: 150px;
}
.balance-view > section > article > .amount-table {
  overflow: auto;
}
.balance-view > section > article > .amount-table > .amount-title {
  font-weight: bold;
  padding: 12px 20px;
  border-top: 1px solid #dee1e7;
  border-bottom: 1px solid #dee1e7;
}
.balance-view > section > article > .amount-table > table {
  width: 100%;
}
.balance-view > section > article > .amount-table > table > thead {
  width: 100%;
  vertical-align: middle;
  height: 30px;
  background-color: #f9fafc;
  color: #666;
  font-size: 11px;
  border-bottom: 1px solid #CCC;
}
.balance-view > section > article > .amount-table > table > thead > tr > th {
  vertical-align: middle;
}
.balance-view > section > article > .amount-table > table > tbody {
  display: table-row-group;
  vertical-align: middle;
}
.balance-view > section > article > .amount-table > table > tbody > tr {
  display: table-row;
  vertical-align: inherit;
  border-bottom: 1px solid #eee;
}
.balance-view > section > article > .amount-table > table > tbody > tr > .amount-name {
  display: flex;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td {
  vertical-align: middle;
  height: 68px;
  align-items: center;
  padding: 15px 0px;
  padding-left: 20px;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .logo {
  width: 26px;
  height: 26px;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .name {
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .name > .subName {
  padding-top: 6px;
  font-size: 11px;
  color: #666;
  font-weight: 400;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .count {
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
  text-align: right;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .count > i {
  display: inline-block;
  padding-left: 2px;
  font-size: 11px;
  color: #999;
  font-weight: 400;
}
.balance-view > section > article > .amount-table > table > tbody > tr > td > .decrease {
  color: #0062df;
}
.balance-view > section > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.balance-view > aside {
  max-width: 504px;
  width: 100%;
  margin-left: 16px;
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
@media only screen and (max-width: 719px) {
  .balance-view > aside {
    display: none;
  }
}
.balance-view > aside > .input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.balance-view > aside > .input-container > input {
  width: 100%;
  padding: 8px;
  padding-left: 14px;
  margin: 8px 0px;
}
.balance-view > aside > .input-container > img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.balance-view > aside > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.balance-view > aside > header {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 8px;
}
.history-view {
  display: flex;
}
@media only screen and (max-width: 719px) {
  .history-view {
    flex-direction: column;
  }
}
.history-view > section {
  max-width: 990px;
  width: 100%;
  height: 100%;
}
.history-view > section > article {
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
.history-view > section > article > .tab-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.history-view > section > article > .tab-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0px 8px;
  border-bottom: 1px solid #CCC;
}
.history-view > section > article > .tab-container > a:hover {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.history-view > section > article > .tab-container > .active {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.history-view > section > article > .my-container {
  display: flex;
  width: 100%;
  overflow: auto;
}
.history-view > section > article > .my-container > .history-table {
  width: 100%;
}
.history-view > section > article > .my-container > .history-table > .filter-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 32px;
}
@media only screen and (max-width: 719px) {
  .history-view > section > article > .my-container > .history-table > .filter-container {
    flex-direction: column;
  }
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container {
  width: 100%;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > .title,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > .title,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > .title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #666;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul > li,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul > li,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul > li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0;
  float: left;
  border: 1px solid #d2d3d7;
  border-left: 0;
  height: 36px;
  vertical-align: middle;
  text-align: center;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul > li > button,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul > li > button,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul > li > button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0 10px;
  background: #fff;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul > li:first-child,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul > li:first-child,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul > li:first-child {
  border-left: 1px solid #d2d3d7;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul > .active,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul > .active,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul > .active {
  border: 1px solid #B19C76;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > ul > .active > button,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > ul > .active > button,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > ul > .active > button {
  font-weight: bold;
  color: #B19C76;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > input,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > input,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > input {
  width: 100%;
  padding: 0px 14px;
  border: 1px solid #dee1e7;
  border-radius: 4px;
  height: 36px;
  font-weight: bold;
}
.history-view > section > article > .my-container > .history-table > .filter-container > .date-container > input::placeholder,
.history-view > section > article > .my-container > .history-table > .filter-container .category-container > input::placeholder,
.history-view > section > article > .my-container > .history-table > .filter-container .search-container > input::placeholder {
  font-weight: 500;
  color: #dee1e7;
}
.history-view > section > article > .my-container > .history-table > table {
  width: 100%;
}
.history-view > section > article > .my-container > .history-table > table > thead {
  width: 100%;
  vertical-align: middle;
  height: 30px;
  background-color: #f9fafc;
  color: #666;
  font-size: 11px;
  border-bottom: 1px solid #CCC;
}
.history-view > section > article > .my-container > .history-table > table > thead > tr > th {
  vertical-align: middle;
}
.history-view > section > article > .my-container > .history-table > table > tbody {
  display: table-row-group;
  vertical-align: middle;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr {
  display: table-row;
  vertical-align: inherit;
  border-bottom: 1px solid #eee;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr > .amount-name {
  display: flex;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr > td {
  vertical-align: middle;
  height: 68px;
  align-items: center;
  padding: 15px 0px;
  padding-left: 20px;
  font-size: 13px;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr > td > i {
  display: inline-block;
  padding-left: 2px;
  font-size: 11px;
  color: #999;
  font-weight: 400;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr > .sell {
  color: #0062df;
}
.history-view > section > article > .my-container > .history-table > table > tbody > tr > .buy {
  color: #e91840;
}
.history-view > section > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.history-view > aside {
  max-width: 504px;
  width: 100%;
  margin-left: 16px;
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
@media only screen and (max-width: 719px) {
  .history-view > aside {
    display: none;
  }
}
.history-view > aside > .input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.history-view > aside > .input-container > input {
  width: 100%;
  padding: 8px;
  padding-left: 14px;
  margin: 8px 0px;
}
.history-view > aside > .input-container > img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.history-view > aside > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.history-view > aside > header {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 8px;
}
.balance-view {
  display: flex;
}
@media only screen and (max-width: 719px) {
  .balance-view {
    flex-direction: column;
  }
}
.balance-view > section {
  max-width: 990px;
  width: 100%;
  height: 100%;
}
.balance-view > section > article {
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
.balance-view > section > article > .tab-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.balance-view > section > article > .tab-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0px 8px;
  border-bottom: 1px solid #CCC;
}
.balance-view > section > article > .tab-container > a:hover {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.balance-view > section > article > .tab-container > .active {
  font-weight: bold;
  border-bottom: 3px solid #B19C76;
}
.balance-view > section > article > .my-container {
  display: flex;
  width: 100%;
  overflow: auto;
}
.balance-view > section > article > .my-container > .order-table {
  width: 100%;
}
.balance-view > section > article > .my-container > .order-table > table {
  width: 100%;
}
.balance-view > section > article > .my-container > .order-table > table > thead {
  width: 100%;
  vertical-align: middle;
  height: 30px;
  background-color: #f9fafc;
  color: #666;
  font-size: 11px;
  border-bottom: 1px solid #CCC;
}
.balance-view > section > article > .my-container > .order-table > table > thead > tr > th {
  vertical-align: middle;
}
.balance-view > section > article > .my-container > .order-table > table > tbody {
  display: table-row-group;
  vertical-align: middle;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr {
  display: table-row;
  vertical-align: inherit;
  border-bottom: 1px solid #eee;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > .amount-name {
  display: flex;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > td {
  vertical-align: middle;
  height: 68px;
  align-items: center;
  padding: 15px 0px;
  padding-left: 20px;
  font-size: 13px;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > td > i {
  display: inline-block;
  padding-left: 2px;
  font-size: 11px;
  color: #999;
  font-weight: 400;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > td > a {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #999;
  padding: 4px 8px;
  border-radius: 4px;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > .sell {
  color: #0062df;
}
.balance-view > section > article > .my-container > .order-table > table > tbody > tr > .buy {
  color: #e91840;
}
.balance-view > section > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.balance-view > aside {
  max-width: 504px;
  width: 100%;
  margin-left: 16px;
  background: white;
  box-shadow: 2px 2px 4px #dee1e7;
}
@media only screen and (max-width: 719px) {
  .balance-view > aside {
    display: none;
  }
}
.balance-view > aside > .input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.balance-view > aside > .input-container > input {
  width: 100%;
  padding: 8px;
  padding-left: 14px;
  margin: 8px 0px;
}
.balance-view > aside > .input-container > img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
.balance-view > aside > hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: #CCC;
  margin: 0px;
}
.balance-view > aside > header {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  font-size: 12px;
  padding: 8px;
}

